.mystyle{
    background-color: #1E272E;
}

.title{
    color: white;
    font-family: 'Open Sans', 'sans serif';
}

.bg-dash {
    background-color: #FFD32A;
  }
  
  .btn-dash{
    background: #FFD32A;
  }
  
  .btn-dash {
  color: #1E272E;
  background-color: #FFD32A;
  border-color: #FFD32A;
  }
  
  .btn-dash:hover {
  color: #1E272E;
  background-color: #FAC800;
  border-color: #FAC800;
  }
  
  .btn-dash:focus,
  .btn-dash.focus {
  color: #1E272E;
  background-color: #FAC800;
  border-color: #FAC800;
  box-shadow: 0 0 0 0.2rem rgb(30, 39, 46);
  }
  
  .btn-dash:active,
  .btn-dash.active,
  .show>.btn-dash.dropdown-toggle {
  color: #1E272E;
  background-color: #FAC800;
  border-color: #FAC800;
  }
  
  .btn-dash:active:focus,
  .btn-dash.active:focus,
  .show>.btn-dash.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(30, 39 ,46);
  }

  .btn-custom {
    width: 100px !important;
  }

  .footend{
    color: white;
    text-decoration: none;
  }

  .footend:hover{
    color: white;
    text-decoration: none;
  }
  
.fas{
  color: #1E272E;
}

.fas:hover{
  color: #FAC800;
}

.corv{
  color: white;
}