*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.mystyle{
    font-family: 'Open Sans', sans-serif ;
    align-items: center;
    justify-content: center;
    background-color: #1E272E;
    width: 100vw;
    height: 100vh;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 300px;
    margin-top: -100px;
}

.title{
    color: white;
}

.box-input{
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-url{
    padding: 12px 40px;
    text-align: center;
    outline: transparent;
    width: 70%;
    border-radius: 50px;
    font-size: 20px;
    color: #1E272E;
}

.btn-per{
    padding: 15px 20px;
    width: 170px;
    margin-left: 10px;
    border-radius: 50px;
    background-color: #FFD32A;
    font-size: 20px;
    color: #1E272E;
}

.btn-per:hover{
    transition: .5s;
    background-color: #FAC800;
}